.search_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35vh;
  position: relative; 
}

.search-input {
  background-color: white;
  border: 1px solid black;
  padding: 8px 16px;
  padding-right: 15%; 
  margin-right: 10px;
  width: 25%; 
  height: 1.75rem;
  border-radius: 12px;
  color: black;
  position: relative; 
  z-index: 1;
}

.search-btn {
  padding: 8px 8px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  height: 3rem;
  border-radius: 10px;
  font-weight: 800;
  
  right: 15%;
  top: 50%; 
  margin-top: 3rem;
  transform: translateY(-50%); 
  z-index: 2; 
  width: auto; 

  &:hover {
    background-color: darkorange;
    scale: 1;
}

}



@media (max-width: 768px) { 
  .search-input{
    min-width: 170px;
  }
}