*{
    color: white;
}
.tempContainer {
    display: flex;
    justify-content: space-evenly;
   
}
.tempContainer2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
   
}
.tempContainer2 p{
    margin-left: 0.5rem;
   
}

.tempdetails1, .tempdetails2, .tempdetails3 {
    display: flex;
    justify-content: s;
    align-items: center;
    margin: 0 10px;  
    
}


.tempdetails2 p{

    font-weight: 700;
    font-size: xx-large;
    
}
.tempdetails3 {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.tempdetails3 span {
    display: flex;             
    align-items: center;       
    font-size: smaller;
    font-weight: 400;
    margin-left: 0.5rem;
}



.icon-droplet {
    margin-left: 2px; 
}

.icon-wind {
    margin-left: 1.1rem; 
}


@media (max-width: 768px) { 
   .tempContainer2{
    margin-left: 1.5rem;
   }
   .tempdetails1{
    margin-left: 1.5rem;
   }
   .droplet_span{
    margin-bottom: 10px;
    margin-top: 10px;
    &{
        .icon-droplet{
            margin-left: 5px;
        }
    }
   }
   .wind_span{
    margin-right: 0.8rem;
   }


}