.main_cities {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: blueviolet;


    

}
.cities_btn {
    background-color: blueviolet;
    font-size: large;
    border: none;
    padding: 6px 12px;
    border-radius: 7px;
    min-width: 8rem;
    font-weight: 700;
    outline: none; 

    
    &:focus {
        box-shadow: 0 0 0 3px rgba(138, 43, 226, 0.5);
    }

    &:hover {
        background-color: darkorange ;
        scale: 1;
    }
}

@media (max-width: 768px) { 
    .main_cities {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; 
    }

    .cities_btn {
        flex: 1 0 calc(50% - 10px); 
        margin-bottom: 10px;
    }

    
}
