.time{
    display: flex;
    justify-content: center;
    background-color: blueviolet;
    color: white;
    height: 2rem;
    font-weight: 400
    ;
    


}

.location{
    display: flex;
    background-color: blueviolet;
    color: white;
    justify-content:center;
    font-weight: 900;
    

   

}
p{
    margin-right: 2rem;
}

